################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Colorful.AspNetCore/v15/Server/sqlite3
/.vs/Colorful.AspNetCore/v15
/Colorful.Cache/bin/Debug/netcoreapp2.0
/Colorful.Cache/obj
/Colorful.Json/bin/Debug/netcoreapp2.0
/Colorful.Json/obj
