################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Colorful.AspNetCore/v15/Server/sqlite3
/.vs/Colorful.AspNetCore/v15
/Colorful.Cache/bin/Debug/netcoreapp2.0
/Colorful.Cache/obj
/Colorful.Json/bin/Debug/netcoreapp2.0
/Colorful.Json/obj
/Colorful.Cache.Web/bin/Debug/netcoreapp2.0
/Colorful.Cache.Web/obj
/Colorful.CMS/obj
/Colorful.Compression/bin/Debug/netcoreapp2.0
/Colorful.Compression/obj
/Colorful.Web.CMS/bin/Debug/netcoreapp2.0
/Colorful.Web.CMS/obj/Debug/netcoreapp2.0
/Colorful.Web.CMS/bin
/Colorful.Web.CMS/obj
/Colorful.Cache/obj
/Colorful.Cache/bin
/Colorful.Cache.Web/bin
/Colorful.Cache.Web/obj
/Colorful.Captcha/obj
/Colorful.Captcha/bin
/Colorful.CMS/obj
/Colorful.CMS/bin
/Colorful.Common/obj
/Colorful.Common/bin
/Colorful.Compression/obj
/Colorful.Compression/bin
/Colorful.Image/obj
/Colorful.Image/bin
/Colorful.Json/obj
/Colorful.Json/bin
/Colorful.Mongodb/obj
/Colorful.Mongodb/bin
